.calendar-grid {
    -fx-hgap: 1 ;
    -fx-vgap: 1 ;
    -fx-padding: 4 ;
}

.calendar-header {
    -fx-alignment: center ;
    -fx-font-size: 18pt ;
    -fx-font-weight: bold ;
}

.calendar-cell {
    -fx-background-radius: 10px;
    -fx-padding: 4 ;
    -fx-alignment: center ;
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}
.calendar-cell:hover {
    -fx-background-color: darkgray;
}

.calendar-cell-not-display-month {
    -fx-opacity: 0.4;
    -fx-background-color: grey;
}

.calendar-cell-not-display-month:hover {
    -fx-opacity: 1;
    -fx-background-color: darkgray;
}

.calendar-day-header {
    -fx-padding: 4 ;
    -fx-alignment: center ;
    -fx-font-weight: bold ;
    -fx-max-height: 20px;
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 1px;
}

.CS {
    -fx-background-color: rgba(255, 235, 83, 0.5);
}

.C2 {
    -fx-background-color: rgba(51, 176, 72, 0.5);
}

.DIU {
    -fx-background-color: rgba(134, 166, 255, 0.5);
}

.ECHO {
    -fx-background-color: rgba(255, 152, 227, 0.5);
}

.CS:hover {
    -fx-background-color: #ffeb53;
}

.C2:hover {
    -fx-background-color: #32ae47;
}

.DIU:hover {
    -fx-background-color: #86a6ff;
}

.ECHO:hover {
    -fx-background-color: #ff98e3;
}