.region {
    -fx-background-color: white;
}

.root {
    -fx-background-color: white;
}

/* order : top right bottom left */
.leftRow {
    -fx-border-color: black black black black;
    -fx-border-width: 1 0 1 1;
    -fx-border-style: solid solid solid solid;
}

.rightRow {
    -fx-border-color: black black black black;
    -fx-border-width: 1 1 1 0;
    -fx-border-style: solid solid solid solid;
}

.middleRow {
    -fx-border-color: black black black black;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid solid solid solid;
}

.header {
    -fx-border-color: black black black black;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid solid solid solid;
}