# Created by .ignore support plugin (hsz.mobi)
### Java template

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
out/
/need.xml
/test2.iml
/.classpath
/crebas.sql
/.project
/test_medecin.sql
/test_patient.sql
/src/hibernate.cfg.xml
/.idea/
/bin/
/bdd/
lib/
